/* css styles */

.jumbotron {
    padding: 3rem 1rem;
}

.leftSection {
    margin-right: 1px;
}

.lead {
    font-size: 28px;
    font-weight: bold;
    color: red;
}

.begin {
    font-weight: bold;
    font-size: 24px;
}

.inProgress {
    font-weight: none;
    font-size: 16px;
    color: #e9ecef;
}

.col-md-4 {
    width: auto;
    margin: 10px 20px 0px 20px;
    padding: 0px 40px 0px 40px;
}